<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>750</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Amœbic</string>
    <key>guidelines</key>
    <array/>
    <key>openTypeHheaAscender</key>
    <integer>750</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/mitradranirban</string>
    <key>openTypeNameLicense</key>
    <string>SIL Open Font Licence Version 1.1</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org </string>
    <key>openTypeNameManufacturer</key>
    <string>Dr Anirban Mitra</string>
    <key>openTypeNameManufacturerURL</key>
    <string>https://fonts.atipra.in</string>
    <key>openTypeNameVersion</key>
    <string>Version 0.002</string>
    <key>openTypeOS2TypoAscender</key>
    <integer>750</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>anir</string>
    <key>openTypeOS2WinAscent</key>
    <integer>750</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>250</integer>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>2</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
